<div class="container">
    <div class="row m-5">
        <div class="col-sm">
            <h1>Prueba App</h1>
        </div>
        <div class="col-sm">
            <h1></h1>
        </div>

        <div class="col-sm">
            <button class="btn btn-outline-danger" (click)="salir()">Salir</button>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">
      Publicar
    </button>

        <ng-template #mymodal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title ">Tu Publicaión</h4>
                <button type="button " class="close" aria-label="Close " (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true ">×</span>
        </button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" (ngSubmit)="createPost(f)">
                    <div class="mb-3">
                        <label for="description " class="form-label">Comentario</label>
                        <input type="description " name="description " [(ngModel)]="post.description" class="form-control" id="description " />
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Imagen</label>
                        <input type="file" name="image" [(ngModel)]="post.image" (change)="selectFiles($event)" class="form-control" id="image" />
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox " class="form-check-input" id="exampleCheck1 " />
                        <label class="form-check-label" for="exampleCheck1 ">Check me out</label
            >
          </div>
          <button type="submit " class="btn btn-primary">Publicar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button "
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')"
        >
          Ok
        </button>
      </div>
    </ng-template>
  </div>
  <br />
  <div class="container">
    <br />
    <div class="row justify-content-md-center" *ngFor="let item of postUser">
      <div class="col"></div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <!-- <h5 class="card-title">Publicacion</h5> -->
            <p class="card-text">{{ item.description }}</p>
            <a href="#" class="btn btn-primary">Comentar</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
